// Card Grid

  .card:nth-child(1) {
    transition-delay: 0.2s;
  }
  .card:nth-child(2) {
    transition-delay: 0.4s;
  }
  .card:nth-child(3) {
    transition-delay: 0.6s;
  }


[data-inview=no] {
  opacity: 0;
  transform: translate(0, 15%);
}

[data-inview=yes] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

/*Home Hero Typorgaphy*/
.swiper-image h1 {
    transition: all .5s ease-out .25s;
    opacity: 0;
    transform: translateY(180%);
    clip-path: inset(0 0 420% 0);
   }
   
   .swiper-slide-active .swiper-image h1 {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0 0 -12% 0);
   }

   .swiper-image p {
    opacity: 0;
    transition: opacity .5s ease-out .7s;
   }

   .swiper-slide-active .swiper-image p {
     opacity: 1;
   }
    
   .swiper-image .button,
   .swiper-image .button-white {
    opacity: 0;
    transition: opacity .2s ease-out .9s;
   }
   .swiper-slide-active .swiper-image .button,
   .swiper-slide-active .swiper-image .button-white {
    opacity: 1;
   }

/*Home Swiper Button Blinks*/
  @keyframes blink {
    from {
      outline-offset: 0;
      outline-color: rgba(black,0);
    }
  }
  @keyframes blink-white {
    from {
      outline-offset: 0;
      outline-color: rgba(white,0);
    }
  }

/*Home Swiper Arrows*/
@keyframes swiper-prev {
  0% {
    opacity: 0;
    transform: translateX(15px) scale(.9);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  70% {
    opacity: 0;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(1);
  }
}
@keyframes swiper-next {
  0% {
    opacity: 0;
    transform: translateX(-15px) scale(.9);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  70% {
    opacity: 0;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(1);
  }
}

// Nav


// KPC Subpage
.project-top {
    transition: all .5s ease;
    .sectionhead {
        transition: all .5s ease .5s;
    }
    h1 {
        transition: all .7s ease .7s;
        transform: translateY(100%);
        clip-path: inset(0 0 100% 0);
    }
    .subhead {
        transition: all .5s ease 1.2s;
    }
}

.project-top[data-inview=yes] {
    h1 {
        transform: translateY(0);
        clip-path: inset(0 0 -11% 0);
    }
}

.column {transition: all .5s ease 2s;}
.column:nth-child(1) {
    transition-delay: 0.2s;
    }
    .column:nth-child(2) {
    transition-delay: 0.4s;
    }
    .column:nth-child(3) {
    transition-delay: 0.6s;
    }

.row-reverse {
    .column:nth-child(1) {
        transition-delay: 0.4s;
        }
        .column:nth-child(2) {
        transition-delay: 0.2s;
        }
}

#kpc-ani{
    .one-third {transition: all .5s ease;}
    :nth-child(1) {
    transition-delay: 0.2s;
    }
    :nth-child(2) {
    transition-delay: 0.4s;
    }
    :nth-child(3) {
    transition-delay: 0.6s;
    }
    :nth-child(4) {
    transition-delay: 0.8s;
    }
    :nth-child(5) {
    transition-delay: 1s;
    }
    :nth-child(6) {
    transition-delay: 1.2s;
    }
}

/*Resume Rotating Text*/

@keyframes move {
  0%  { top:  -0.5em; }
  4%  { top:  -0.5em; }
  16% { top: -3.2em; }
  20% { top: -3.2em; }
  32% { top: -5.9em; }
  36% { top: -5.9em; }
  48% { top: -8.7em; }
  51% { top: -8.7em; }
  64% { top: -10.5em; }
  68% { top: -10.5em; }
  80% { top: -12.2em; }
  84% { top: -12.2em; }
  }

@media (min-width: $breakpoint-x-small) {
  @keyframes move {
    0%  { top:  0vh; }
    4%  { top:  0vh; }
    16% { top: -90%; }
    20% { top: -90%; }
    32% { top: -180%; }
    36% { top: -180%; }
    48% { top: -280%; }
    51% { top: -280%; }
    64% { top: -370%; }
    68% { top: -370%; }
    80% { top: -450%; }
    84% { top: -450%; }
    }
}

@media (min-width: $breakpoint-small) {
@keyframes move {
  0%  { top:  -0.5em; }
  4%  { top:  -0.5em; }
  16% { top: -2em; }
  20% { top: -2em; }
  32% { top: -3.5em; }
  36% { top: -3.5em; }
  48% { top: -5em; }
  51% { top: -5em; }
  64% { top: -6.5em; }
  68% { top: -6.5em; }
  80% { top: -8em; }
  84% { top: -8em; }
  }
}

@media (min-width: $breakpoint-medium) {
@keyframes move {
  0%  { top:  -0.7em; }
  4%  { top:  -0.7em; }
  16% { top: -2.2em; }
  20% { top: -2.2em; }
  32% { top: -3.7em; }
  36% { top: -3.7em; }
  48% { top: -5.2em; }
  51% { top: -5.2em; }
  64% { top: -6.7em; }
  68% { top: -6.7em; }
  80% { top: -8.2em; }
  84% { top: -8.2em; }
  }
}