/* Buttons */
a.button,
a.button-white,
a.button-gold,
a.button-kpc,
a.button-shabp,
a.button-havensolus,
a.button-prime {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0);
  display: inline-block;
  width: fit-content;
  padding: .8em 1em .7em 1em;
  text-decoration: none;
  margin: 1em 1em 1.5em 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: $type-subhead;
  // font-feature-settings: 'smcp';
  text-transform: uppercase;
  text-shadow: none;
  outline-offset: 0px;
  outline: 1px solid;
}

a.button:hover,
a.button-white:hover,
a.button-gold:hover,
a.button-kpc:hover,
a.button-shabp:hover,
a.button-havensolus:hover,
a.button-prime:hover {
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid;
  outline-offset: 10px;
}

a.button {
  color: black;
  box-shadow: inset 0 0 20px rgba($white-1,0);
  outline-color: black;
  }
  a.button:hover {
    // background-color: rgba(255, 255, 255, 0.3);
    outline-color: rgba(black,0);
  }

  a.button-white {
    color: white;
    box-shadow: inset 0 0 20px rgba($white-1,0);
    outline-color: white;
  }
  a.button-white:hover {
    outline-color: rgba(white,0);
  }

  .button-gold {
    color: white;
    background-color: $gold;
    box-shadow: inset 0 0 20px rgba($gold-2,0);
    outline-color: $gold;
  } 
  .button-gold:hover {
    outline-color: rgba($gold,0);
    border: 1px solid $gold;
  }

  .button-gold.blink {
    color: white;
    background-color: $gold;
    box-shadow: inset 0 0 20px rgba($gold-2,0);
    border: 1px solid;
    outline-offset: 10px;
    outline-color: rgba($gold,.3);
    animation: blink-gold 1s ease-in-out both infinite;
    transition: transform .5s ease-in-out;
    margin: 2em auto;
  } 

  a.button-kpc {
    color: white;
    background-color: #ff6e6d;
    outline-color: #ff6e6d;
  }
  a.button-kpc:hover {
    outline-color: rgba(#ff6e6d,0);
    border: 1px solid #ff6e6d;
  }

  a.button-prime {
    color: white;
    background-color: rgb(87, 51, 105);
    outline-color: rgb(87, 51, 105);
  }
  a.button-prime:hover {
    outline-color: rgba(87, 51, 105,0);
    border: 1px solid rgb(87, 51, 105);
  }

  a.button-shabp {
    color: white;
    background-color: rgb(0,230,168);
    outline-color: rgb(0,230,168);
  }
  a.button-shabp:hover {
    outline-color: rgba(0,230,168,0);
    border: 1px solid rgb(0,230,168);
  }

  a.button-havensolus {
    color: white;
    background-color: #333D47;
    outline-color: #333D47;
  }
  a.button-havensolus:hover {
    outline-color: rgba(#333D47,0);
    border: 1px solid #333D47;
  }

  @keyframes blink-gold {
    from {
      outline-offset: 0;
      outline-color: rgba($gold,0);
    }
  }

  .button-white.blink { 
    background-color: rgba(black,.1);
    text-align: center;
    border: 1px solid;
    outline-offset: 10px;
    outline-color: rgba(white,.3);
    animation: blink-white 1s ease-in-out both infinite;
    transition: transform .5s ease-in-out;
  }

  .button-gold.blink:hover,
  .button-white.blink:hover {
    transform: scale(1.05);
  }
  
  // Scroll Butons
  .arrow-down {
    z-index: 2;
    position: absolute;
    // border: 1px solid red;
    width: 100%;
    text-align: center;
    bottom: 1em; left: 0;
    a {
      color:black;
      text-decoration: none;
      letter-spacing: 1px;
      font-family: $type-subhead;
      // font-feature-settings: 'smcp';
      text-transform: uppercase;
      transition: all .7s ease-in-out;
      &:hover {
        text-shadow: 2px 2px 10px $grey-3;
      }
    }
    svg {
      display: block;
      margin: .5em auto;
      margin-top: 1.75em;
      animation: down-arrow 3s cubic-bezier(0.25,0.46,0.45,0.94) both infinite;
      path {
        fill: transparent;
        stroke: black;
        &:hover {
          filter: drop-shadow(5px 5px 5px $grey-3);
        }
      }
    }
  }
  @keyframes down-arrow {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  // .arrow-down:hover {
  //   text-shadow: 2px 2px 10px $grey-3;
  // }
  .scroll-top {
    z-index: 2;
    position: absolute;
    // border: 1px solid red;
    width: 100%;
    max-width: 150px;
    bottom: 35%; left: 0;
    text-align: left;
    text-decoration: none;
    a.scroll-text {
      color:white;
      display: inline-block;
      text-decoration: none;
      letter-spacing: 1px;
      font-family: $type-subhead;
      text-transform: uppercase;
      transition: all .7s ease-in-out;
      padding: 0 0 0 20px;
      &:hover {
        text-shadow: 2px 2px 10px $grey-3;
      }
    }
    svg {
      display: inline-block;
      text-decoration: none;
      // margin: 1em 2em .5em 0;
      animation: up-arrow 3s cubic-bezier(0.25,0.46,0.45,0.94) both infinite;
      path {
        fill: transparent;
        stroke: white;
        &:hover {
          filter: drop-shadow(5px 5px 5px $grey-3);
        }
      }
    }
  }
  @keyframes up-arrow {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
  }