/* SUBPAGE STRUCTURE
----------------------------
    Kalihi Pet Center
    Honolulu City Flag
    Copenhagen City Logo
    Friends of Hawai‘i Robotics
    Two Ladies Kitchen Logo
    Prime Mobile App
    "This is Love" Triology Book Covers
    Haven Solus Resort and Spa
    Small Hands Against Big Phones
    USPS Gemstone Stamps
------------------------------ */

/*KPC*/
#kpc-intro {
    .row {margin-bottom: 15%;}
  }
  
  #kpc-to-slider {
    background-image: linear-gradient(white, rgb(235,245,247));
    margin: 7em 0 0 0;
  }
  
  #kpc-notes {
    // background-image: url(../img/kpc/mushu.png);
    // background-size: 370px;
    // background-repeat: no-repeat;
    margin-bottom: 0;
    // background-position: left bottom;
  }
  
  #kpc-ani {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    .one-third {text-align: center;}
    p.caption {margin-top: -1em;}
  }
  
  #kpc-cta {
    text-align: center;
    background-color:#ff6e6d;
    h3 {
      margin: 0;
      color: white;
    }
  }

/*City Flag*/
  .project-top.city-flag {
    background-image: url('../img/cityflag/honolulumap_2.jpg');
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%;
    // h1, p {
    //   color: white;
    // }
  }
  
  /*Copenhagen*/
  #copenhagen-inspo {
    margin-bottom: 0;
  }
  #copen-sketches {
    background-color: $navy;
    padding: 5em 0;
    h2,p {color: white;}
  }
  #copen-quote {
    background-color: $navy;
    margin-bottom: 8em;
    overflow: hidden;
    display: flex;
    align-items: center;
    .quote-box {
      margin: 0 0 0 11.25%;
      p.pull-quote {
        color: white;
        margin-top: 3em
      } 
      .pull-quote::before {
        color: rgba(white,.2);
        margin-left: -17%;
        margin-bottom: -18%;
      }
    }
    a.button-white {margin: 5em 0 0 .2em;}
  }
  
 /*FOHR*/
  #fohr-to-slider {
    background-image: linear-gradient(white, rgba(245,168,28, .05));
    margin: 0;
  }
  #fohr-notes {
    img {margin: 0;}
  }
  
  #natura-bottom {
    img {width: 100%;}
    margin: 0 0 5em 0;
  }

  // rgba(48,38,29,.4)
  
/*Two Ladies Kitchen*/
#twoladies-story {
  background-color: #f5f4f4;
  color: rgba(48,38,29,1);
  padding: 4em 0 2em 0;
  h2 {color: #AA182C;}
  h3 {color: rgba(48,38,29,1);}
  ul.bulleted {padding-left: 1.5em;}
  ul.bulleted li::before {
    font-family: $type-body;
    content: "\2665";
    color: #AA182C;
  }
}
  #twoladies-sketchdetails {
    margin: 5em 0;
    img {width: 75%;}
  }
  #twoladies-dev {
    background-image: linear-gradient(rgba(#30261D, .05), white);
    // background-color: rgba(#30261D, .1);
    padding: 8em 0 5em 0;
  }
  #twoladies-bottom {
    margin-bottom: 0; padding-bottom: 3em;
  }
  
/*Prime*/
  #prime-video {margin-bottom: 8em;}
  
  #to-prime-swiper {
    background-image: linear-gradient(white, #FCFCFC);
    margin: 8em 0 0 0; padding: 0;
  }
  
  #prime-quote {
    // background-color: rgba(#c39d4d, .07);
    background-image: linear-gradient(rgba(#c39d4d, .08), white);
    width: 100%;
    margin: 5em 0;
    display: flex;
    align-items: center;
    .quote-box {
      // margin: 0 0 0 11.25%;
      p.pull-quote {
        color: #2d0043;      
        font-size: clamp(1.5em, 4vw, 4em); 
      } 
      .pull-quote::before {
        color: rgba(#c39d4d, .1);
        margin-left: -19%;
        margin-bottom: -15%;
      }
      p.caption {
        margin-top: 4em;
        color: #902800;
      }
    }
    p {margin-top: 2em;}
  }
  
 /*Book Covers*/
  #book-rationale {
    margin: 0;
    h2 {margin-top: 1em;}
    .arrow-down {
      position: static;
      margin-top: 2em;
    }
  }
  #book-video {
    height: auto;
  }
  
  /*Haven Solus*/
  #hs-brand {
    background-color: rgba(#E5DED6, 0.5);
    color: #6B645D;
    h2, h3 {color: #6B645D;}
    h2 {margin-top: 1em;}
  }
  
  p.core {
    font-size: 2em;
    line-height: 1.3;
    font-family: $type-subhead;
    font-style:italic;
    margin-bottom: 1em;
  }
  
  #hs-quotes {
    p {
      // font-family: $type-subhead;
      hanging-punctuation: first;
    }
    span.name {
      font-family: $type-subhead;
      font-weight: 400;
      font-feature-settings: 'smcp';
    }
  }
  
  #hs-deliverables {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
/*Small Hands Against Big Phones*/
  #shabp-brand {
    background-color: rgb(2, 33, 24);
    color: white;
    padding: 5em 0;
    .row {margin: 1em 0;}
    h2 {color: rgb(253,0,251);}
    h3 {color: rgb(0,255,188);}
    .column.one-third h3:nth-child(2) {
      margin-top: 1em;
    }
    ul.bulleted li::before {color: rgb(250, 223, 9);}
  }
  
  #shabp-printed,
  #shabp-digital {
    padding: 5em 0;
    margin-bottom: 0;
    h2 {color: white;}
  }
  #shabp-printed {
    background-color: rgb(2,50,35);
    
    h3 {color: rgb(253,0,251);}
  }
  #shabp-digital {
    background-color: rgb(2, 33, 24);
    h3 {color: rgb(0,255,188);}
    p {color: white;}
  }
  
/*Gems*/
#stamps-intro {
  margin: 0 0 5em 0;
  padding: 5em 0 1em 0;
}

  #gems-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
    .column.one-third {min-width: 20em;}
  }

  /*Kinetic Type*/
  
  section#kinetic-project-top {
    background-color: #45C8F5;
  }