/*TABS*/

.tab-section {
    padding: 5em 0;
    height: auto;
    [data-tabstate="active"] {
      color: white;
      transition: all .2s ease;
      &[data-id="featured-tab"] {background-color: $navy;}
      &[data-id="print-tab"] {background-color: $gold;}
      &[data-id="digital-tab"] {background-color: $turq;}
      &[data-id="identity-tab"] {background-color: $rust;}
    }
    [data-contentstate="inactive"] {
      display: none;
    }
    [data-contentstate="active"] {
      display: block;
    }
    .tab-buttons {
      display: flex;
      list-style: none;
      margin: 1em 0;
      padding: 0;
      li {
        margin-right: 1.5em;
      }
      button {
        background-color: transparent;
        border: none;
        font: inherit;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .5px;
        cursor: pointer;
        padding: .5em 1em;
      }
    }
  }